<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkEtt4M4vDXNpVzaEhY-WECLEEEYu_pPM</string>
	<key>GCM_SENDER_ID</key>
	<string>953195628575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.visooft.muslawyer</string>
	<key>PROJECT_ID</key>
	<string>laywer2-e726d</string>
	<key>STORAGE_BUCKET</key>
	<string>laywer2-e726d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953195628575:ios:fef6e6aea5c7f14b856d2a</string>
</dict>
</plist>